<div class="product-image-container">
        <a href="{{link}}" title="{{title}}" class="product-image">
            <img alt="{{title}}" style="margin: 0 auto; width: 90%; height: auto;" src="{{image_link}}" onerror="this.src='https://screenshotlayer.com/images/assets/placeholder.png';">
        </a>
    </div>
    <div class="product-info" style="margin: 0 auto; text-align: center;">
        <a class="product-name svTextlimit" href="{{link}}" title="{{title}}">
                       {{title}}
                   </a>
        <div class="price-box">
    
            {{^sale_price}}
            <p class="regular-price"><span class="price">R${{price}}</span></p>
            {{/sale_price}} {{#sale_price}}
            <p class="old-price">
                <span class="price-label">De:</span><span class="price">R${{price}}</span>
            </p>
    
            <p class="special-price">
                <span class="price-label">Por:</span><span class="price" id="product-price-37218">R${{sale_price}}</span>
            </p>
            {{/sale_price}}
        </div>
        <div class="actions">
            <div class="actions-buttons">
                <button type="button" title="Comprar" class="button btn-cart" onclick="setLocation('{{link}}')"> <span>             <span>Comprar</span> </span>
                </button>
            </div>
        </div>
    </div>